RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /Projetos/B7WEB/Curso_PHP/Modulo_Avancado/Modulo_Super_Avancado/Aula-Estrutura_MVC/index.php?url=$1 [QSA,L]